@import "./global";
@import "./reset";
@import "./variables";
@import "./media";

.section {
    .sell-info {
        .size-content {
            button {
                @include button;
            }
        }
        .center {
            font-size: 24px;
        }
        .color-content {
            button {
                border: none;
                width: 20px;
                height: 20px;
            }
        }
    }
    .add {
        button {
            padding: 10px 50px;
            background-color: $pink;
            border: none;
            color: #fff;
            border-top-right-radius: 25px;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
        }
    }
    .thumb {
        position: absolute;
        z-index: 100;
        bottom: 0;
    }
    .circle1 {
        height: 300px;
        width: 300px;
        background-color: $blue;
        position: absolute;
        bottom: 40%;
        right: 0;
        z-index: 10;
    }
    .circle2 {
        height: 200px;
        width: 200px;
        background-color: $pink;
        position: absolute;
        bottom: 40%;
        left: 10%;
        z-index: 5;
    }
}

.footer {
    &-content {
        .last {
            width: 60px;
            height: 2px;
            background-color: #000;
            position: absolute;
            bottom: -10%;
        }
    }
    .button-footer {
        button {
            padding: 10px 40px;
        }
        .prev {
            background-color: $pink;
        }
        .next {
            background-color: $blue;
        }
    }
}